[Unit]
Description=Check mail via mbsync
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/home/mark/.mutt/scripts/checkmail.sh
