#tmux ignores
*.log

# VIM ignores
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Neovim
en.utf-8.add.spl

# Ignore vim/bundles, vim/tmp, and vim/autoload
vim/bundle
vim/tmp
vim/autoload

# Ignore Neovim plugins & tmp files
nvim/autoload
nvim/plugged
nvim/tmp

# Ignore stuff in mutt temp folder
mutt/temp

# Ignore bash_history
bash/bash_history

# Ignore mutt caches
mutt/cache/headers
