[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
	ignore = dirty
[submodule "tmux-powerline"]
	path = tmux/tmux-powerline
    url = https://github.com/erikw/tmux-powerline.git
    ignore = dirty
