#tmux ignores
*.log

# VIM ignores
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Ignore vim/bundles
vim/bundle

# Ignore vim/tmp
vim/tmp

# Ignore Neovim plugins & tmp files
nvim/plugged
nvim/tmp

# Ignore bash_history
bash/bash_history
