! Base Settings
! -------------
URxvt.termName:    rxvt-256color
URxvt.scrollBar:   false
URxvt.font:        xft:Droid Sans Mono:size=10
URxvt*transparent: true
URxvt*shading:     25
URxvt*fading:      30 
URxvt.saveLines:   50000

URxvt*background:           #101218
URxvt*foreground:           #d1d4e0
URxvt*cursorColor:          #d1d4e0
URxvt*scrollColor:          #d1d4e0
URxvt*highlightColor:       #1f222d
URxvt*highlightTextColor:   #C0C5CE

URxvt*color0:               #101218
URxvt*color1:               #ee829f
URxvt*color2:               #a5ffe1
URxvt*color3:               #ffefcc
URxvt*color4:               #97bbf7
URxvt*color5:               #c0b7f9
URxvt*color6:               #97e0ff
URxvt*color7:               #d1d4e0
URxvt*color8:               #7780a1
URxvt*color9:               #ee829f
URxvt*color10:              #a5ffe1
URxvt*color11:              #ffefcc
URxvt*color12:              #97bbf7
URxvt*color13:              #c0b7f9
URxvt*color14:              #97e0ff
URxvt*color15:              #ffffff

URxvt*color16:              #f99170
URxvt*color17:              #fcc09e
URxvt*color18:              #1f222d
URxvt*color19:              #252936
URxvt*color20:              #C0C5CE
URxvt*color21:              #C9CCDB

! Spacegray colors
! ----------------
! URxvt*background:           #111314
! URxvt*foreground:           #b7bbb7
! URxvt*cursorColor:          #b7bbb7
! URxvt*scrollColor:          #b7bbb7
! URxvt*highlightColor:
! URxvt*hihglightTextColor:

! black
! URxvt*color0:               #2c2f33
! URxvt*color8:               #4b5056
! red
! URxvt*color1:               #b04c50
! URxvt*color9:               #b04c50
! green
! URxvt*color2:               #919652
! URxvt*color10:              #94985b
! yellow
! URxvt*color3:               #e2995c
! URxvt*color11:              #e2995c
! blue
! URxvt*color4:               #66899d
! URxvt*color12:              #66899d
! magenta
! URxvt*color5:               #8d6494
! URxvt*color13:              #8d6494
! cyan
! URxvt*color6:               #527c77
! URxvt*color14:              #527c77
! white
! URxvt*color7:               #606360
! URxvt*color15:              #dde3dc








! Enable Perl extensions
! ----------------------
URxvt.perl-ext-common: default,matcher,fullscreen,resize-font,clipboard

! Clickable URLs
! --------------
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

! Fullscreen toggle
URxvt.keysym.F11: perl:fullscreen:switch

! Clipboard copy/paste
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False

