
! Chalk colors
*.foreground:  #d2d8d9
*.background:  #2b2b2e
*.cursorColor:  #d2d8d9
! black
*.color0:      #7d8b8f
*.color8:      #888888
! red
*.color1:      #b23a52
*.color9:      #f24840
! green
*.color2:      #789b6a
*.color10:     #80c470
! yellow
*.color3:      #b9ac4a
*.color11:     #ffeb62
! blue
*.color4:      #2a7fac
*.color12:     #4196ff
! magenta
*.color5:      #bd4f5a
*.color13:     #fc5275
! cyan
*.color6:      #44a799
*.color14:     #53cdbd
! white
*.color7:      #d2d8d9
*.color15:     #d2d8d9

! URxvt settings
! URxvt.termName:          xterm-256color
URxvt.termName:          screen-256color

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

! URxvt*transparent:       false
URxvt*transparent:       true
URxvt*shading:           10

! Works with compton for true transparency
!URxvt*depth: 32
!URxvt.background: [5]#2b303b

! URxvt.font: xft:Sans Seri:pixelsize=16
URxvt.font: xft:Hack:pixelsize=13

! Urxvt*font:              xtf:Anonymous:size=18
! URxvt.letterSpace: 0

*antialias:  true
*autohint:   false

! URxvt.perl-ext-common: default,matcher,fullscreen,resize-font,clipboard,tabbed,selection-to-clipboard
URxvt.perl-ext-common: default,matcher,clipboard,selection-to-clipboard

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! URxvt.perl-ext-common: ...,tabbed,...
! URxvt.tabbed.tabbar-fg: 2
! URxvt.tabbed.tabbar-bg: 0
! URxvt.tabbed.tab-fg: 3
! URxvt.tabbed.tab-bg: 2

! fullscreen toggle
URxvt.keysym.F11: perl:fullscreen:switch

! clipboard
! URxvt.perl-ext-common: selection-to-clipboard
