# Some header settings
my_hdr From: code.prole@gmail.com (code prole)
my_hdr Reply-To: code.prole@gmail.com (code prole)
my_hdr Errors-To: code.prole@gmail.com
my_hdr Organization:

set hostname=""
set header_cache    = "~/.mail/gmail/headers"
set message_cache   = "~/.mail/gmail/bodies"
set folder          = "imaps://imap.gmail.com:993"¬
set spoolfile       = "+INBOX"¬
set postponed       = "+[Gmail]/Drafts"
set record          = '+[Gmail]/Sent'

set imap_authenticators  = "login"
source "gpg2 -dq $HOME/.mutt/passwords/codeprole.gpg |"
set imap_user            = 'code.prole@gmail.com'
set sendmail             = "/usr/bin/msmtp -a codeprole"

#######################################################
###  Account specific GPG
#######################################################
# my_hdr X-GPG-Key-Server: hkps://hkps.pool.sks-keyservers.net
# my_hdr X-GPG-Key-FingerPrint: 297F 5FD4 0275 D2E5 48E9  F834 6CCF 1568 5344
#
# send-hook code.prole@gmial.com 'set pgp_autosign; set pgp_autoencrypt'
# pgp-hook code.prole@gmail.com 53445200
#
# set pgp_encrypt_only_command="/usr/local/bin/pgpewrap gpg --batch --quiet --no-verbose --output - --encrypt --textmode --armor --always-trust --encrypt-to 2602A9FC -- -r %r -- %f"
# set pgp_encrypt_sign_command="/usr/local/bin/pgpewrap gpg --passphrase-fd 0 --batch --quiet --no-verbose --textmode --output - --encrypt --sign %?a?-u %a? --armor --always-trust --encrypt-to E316DAB9 -- -r %r -- %f"
# set pgp_sign_as=2602A9FC
#
#######################################################
###  GPG Common
#######################################################
# source ~/.mutt/accounts/gpgcommon.confg
